<% provide(:title, "Courses Home Page") %>
<h1>Courses Home Page</h1>
<ul>
    <% @courses.each do |course| %>
        <li>
            <%= link_to "#{course.crn} #{course.title}", course_path(course) %>
            
        </li>
    
    <% end %>
</ul>