<% provide(:title, "Course detail") %>

<h1>Course: <%= @course.crn %></h1>

<br>Title: <%= @course.title%></br>
Sections: <% @course.sections.each do |section| %>
            <br><%= section.id %>
            <%end %>
    